<div class="page-header">
    <h1>In-silico</h1>
     <p> Es un semillero de la Universidad Tecnológica de Pereira, dedicado a investigar en temas de inteligencia artificial
        y a las maratones de programación. Dirigido desde sus inicios por el ingeniero Sebastián Gómez.
     </p> 
     <p>
        Los proyectos actuales del semillero, incluyendo el UTP online judge pueden ser encontrados en nuestro
        <a href="https://github.com/in-silico">repositorio de github</a> 
     </p>
</div>


<!---
<section id="faq">
  <div class="page-header">
    <h2>Preguntas</h2>
  </div>
  
  <div class="row">
    <div class="span4">
     <h4>¿Contacto?</h4>
    </div>
    
    <div class="span8">
      <p>Para contactarse con el semillero, escriba a: .</p>
    </div>
  </div>
</section> --->

