<div class="page-header">
    <h1>In-silico</h1>
     <p> Es un semillero de la Universidad Tecnológica de Pereira, dedicado a investigar en temas de inteligencia artificial
        y a las maratones de programación. Dirigido desde sus inicios por el ingeniero Sebastián Gómez.
     </p> 
     <p>
        Los proyectos actuales del semillero, incluyendo el UTP online judge pueden ser encontrados en nuestro
        <a href="https://github.com/in-silico">repositorio de github</a> 
     </p>
</div>



<section id="faq">
  <div class="page-header">
    <h2>Preguntas</h2>
  </div>
  
  <div class="row">
    <div class="span4">
     <h4>¿Contacto?</h4>
    </div>
    
    <div class="span8">
      <p>Para contactarse con el semillero, escriba a: segomez@utp.edu.co.</p>
    </div>
  </div>
  
  <div class="row">
    <div class="span4">
     <h4>¿Cómo enviar los problemas?</h4>
    </div>
    
    <div class="span8">
      <ul>
          <li>Para Java, el nombre de la clase debe ser Main.</li>
          <li>En todos los lenguages el nombre del archivo no importa.</li> 
          <li>Las extenciones deben ser Java: .java, ANSI C: .c, C++: .cpp, Python: .py</li>
      </ul>
    </div>
  </div>
  
  
  <div class="row">
    <div class="span4">
     <h4>¿Cómo participar en la maratón?</h4>
    </div>
    
    <div class="span8">
      <ul>
          <li>Ir a la sección groups.</li>
          <li>Para competir en el "1st open UTP programming", registrarse en el grupo contestants, la contraseña es "contestants" (Comillas por claridad).</li>
          <li>En la sección home ya estará visible la competencia</li>
      </ul>
    </div>
  </div>  
  
</section> 

