<div class="page-header">
    <h1>In-silico</h1>
     <p> is a research group from Universidad Tecnológica de Pereira, dedicated to machine learning research and competitive programming study. This group is directed by Bsc. in computer science Sebastián Gómez.
     </p>
     <p>
       Insilico's actual projects, including UTP online judge can be found in our <a href="https://github.com/in-silico"> github repo </a>
     </p>
</div>
<section id="faq">
  <div class="page-header">
    <h2>Frequently Asked Questions</h2>
  </div>
  <div class="row">
    <div class="span4">
     <h4>Contact</h4>
    </div>
    <div class="span8">
      <p> To get in contact with us, write to sebasutp@gmail.com , manuel.felipe.pineda@gmail.com, jhonb3r@gmail.com </p>
    </div>
  </div>
  <div class="row">
    <div class="span4">
     <h4>How to submmit the problems?</h4>
    </div>
    <div class="span8">
      <ul>
          <li>For Java the classname <strong>must</strong> be Main</li>
          <li>The file name doesn't matter, could be anything</li>
          <li>The extensions must be  Java: .java, ANSI C: .c, C++: .cpp, Python: .py</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="span4">
     <h4>How to compete in a contest? </h4>
    </div>
    <div class="span8">
      <ul>
          <li>Go to groups</li>
          <li> Register in groups which you prefer, there is a group for everyone, the name and the password are "general". </li>
          <li> Now, in home you will see all the contest for your groups </li>
      </ul>
    </div>
  </div>
</section>
